.SearchBar {
    padding-right: 3%;
}

.SearchBar form input {
    background-color: lightgray;
    border: none;
    outline: none;
}

.searchResultContainer {
    display: flex;
    flex-wrap: wrap;
}